/* line 1, C:/work/assembly/template/boilerplateMe/dist/blocks/accordion/accordion.scss */
.uk-accordion-title {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 5px 15px;
  background: #f7f7f7;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

/* line 12, C:/work/assembly/template/boilerplateMe/dist/blocks/accordion/accordion.scss */
.uk-accordion-content {
  padding: 0 15px 15px 15px; }
